<h1>Your Books</h1>

<ol>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
      <%= book.description %>
    </li>
  <% end %>
</ol>

<%= link_to 'Add a Book', new_user_book_path(current_user) %>
